
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
      font-family: "Roboto", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color:black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 60px;
    margin-bottom: 30px;
}
.tictac{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;




}



.box{
    font-size: 40px;
    border-radius:5px;
    color: black;
    border:black ;
    background-color: white;
    width: 100px;
    height: 100px;
     display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.winnerClass{
    background-color: red;
}

#rstbtn{
    width:100px;
    font-size: 30px;
    background: green;
    border: 2px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}